{% extends 'base.html.twig' %}

{% block title %}Séries categorie add{% endblock %}

{% block body %}
     {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter categorie</button>
    {{ form_end(form) }}
{% endblock %}